@font-face {
    font-family: 'PT Serif';
    src: url('WebFont/PTF55F_W.eot');
    src: url('WebFont/PTF55F_W.eot?#iefix') format('embedded-opentype'),
         url('WebFont/PTF55F_W.woff') format('woff'),
         url('WebFont/PTF55F_W.ttf') format('truetype'),
         url('WebFont/PTF55F_W.svg#PTSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PT Serif';
    src: url('WebFont/PTF56F_W.eot');
    src: url('WebFont/PTF56F_W.eot?#iefix') format('embedded-opentype'),
         url('WebFont/PTF56F_W.woff') format('woff'),
         url('WebFont/PTF56F_W.ttf') format('truetype'),
         url('WebFont/PTF56F_W.svg#PTSerifItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'PT Serif';
    src: url('WebFont/PTF75F_W.eot');
    src: url('WebFont/PTF75F_W.eot?#iefix') format('embedded-opentype'),
         url('WebFont/PTF75F_W.woff') format('woff'),
         url('WebFont/PTF75F_W.ttf') format('truetype'),
         url('WebFont/PTF75F_W.svg#PTSerifBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'PT Serif';
    src: url('WebFont/PTF76F_W.eot');
    src: url('WebFont/PTF76F_W.eot?#iefix') format('embedded-opentype'),
         url('WebFont/PTF76F_W.woff') format('woff'),
         url('WebFont/PTF76F_W.ttf') format('truetype'),
         url('WebFont/PTF76F_W.svg#PTSerifBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    background: rgb(230, 230, 234);
    text-align: center;
    font-family: PT Serif, Georgia;
}

article {
   color: black;
   background: rgb(244, 244, 248);
   margin: 1em auto;
   padding: 2em 3em;
   max-width: 36em;
   font-family: PT Serif, Georgia;
   line-height: 155%;
   text-align: left;
   font-size: 98%;
   text-rendering: optimizeLegibility;
}

@supports (hyphens: auto) {
    article p {
      hyphens: auto;
      text-align: justify;
    }
}

@supports (-webkit-hyphens: auto) {
    article p {
      -webkit-hyphens: auto;
      text-align: justify;
    }
}

@supports (-ms-hyphens: auto) {
    article p {
      -ms-hyphens: auto;
      text-align: justify;
    }
}

header p, footer p, .synopsis p {
    text-align: left;
    hyphens: none;
    -webkit-hyphens: none;
}

#masthead {
    font-family: Lucida Sans Unicode, Lucida Grande;
    font-size: 200%;
    font-weight: normal;
    margin: 0;
}

#masthead a:link {
    text-decoration: none;
    border-bottom: 0;
}


.overstrike { text-decoration: line-through }

.epigraph { margin-bottom: 1em; }

.epigraph .bibl { text-align: right; margin-right: 4em; }
.signed, .inlineDate, .caption { font-style: italic }

.lg, .sp, .pick, .epigraph {
    margin-top: 1em;
    margin-bottom: 1em;
}

.address { margin: 1em }

.body-container {
   color: black;
   background: rgb(244, 244, 248);
   margin: 1em auto;
   padding: 2em 3em;
   max-width: 36em;
   font-family: PT Serif, Georgia;
   line-height: 155%;
   text-align: center;
   font-size: 98%;
   text-rendering: optimizeLegibility;
}

.results {
	margin-top: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
}
.result-item {
	margin-bottom: 10px;
	padding: 5px;
	border-bottom: 1px solid #eee;
}
.result-item:last-child {
	border-bottom: none;
}
.search-container {
	margin-bottom: 20px;
	padding: 5px
}
.categories {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	margin-bottom: 20px;
}
.category-group {
	margin-right: 20px;
	text-align: left;
}	

blockquote {
    margin-left: 1.25em;
    margin-right: 2em;
    border-left: 3px solid rgb(230, 230, 234);
    padding-left: 0.75em;
}

nav {
    font-family: Lucida Sans Unicode, Lucida Grande;
    font-size: 75%;
    margin: 0.5em;
}

.stage { font-style: italic }
em em   { font-style: normal }
em em em  { font-style: italic }
.form { font-weight: bold }

.castItem .name { font-style: italic }

pre, kbd, .typewriter {
    font-family: courier new, courier, monospace;
    font-size: 85%
}


h3 {
    font-size: 140%;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    font-weight: normal;
}

section h3 {
    font-size: 130%;
}

h3.email {
    font-size: 110%;
}

p {
    margin-top: 0.25em;
    margin-bottom: 0em;
    text-indent: 2em;
}

p:first-of-type {
    text-indent: 0em;
}

h3 + p, h3 + section, h3 + .salute {
    margin-top: 0.75em;
}

h3.email + p, h3.email + .salute {
    margin-top: 2em;
}

.listHeading {
    font-size: 110%;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0em;
    text-indent: 1em;
}

.listHeading + ol, .listHeading + ul {
    margin-block-start: 0em;
}

p + .trailer, section + .trailer {
    margin-top: 0.75em;
}

p + .salute, p + .signed {
    margin-top: 1em;
}

.castGroup + .castGroup {
    margin-top: 0;
}

section + section {
    margin-top: 2em;
}

.milestone {
    display: block;
    text-align: center;
    font-size: 130%;
    letter-spacing: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

header section, footer section, .note {
    background: rgb(230, 230, 234);
    padding: 0.5em;
}

header, footer {
    font-size: 95%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#datecol {
    width: 11em;
}

div.indented {
    margin-left: 2em;
}

dt {
    float: left;
    margin-right: 0.5em;
}

.screenplay {
    font-family: courier new, courier, fixed;
    text-indent: 0;
    margin-left: 1em
}

.screenplay dl {
    margin-right: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.screenplay dt {
    float: none;
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}


.screenplay .caption {
    text-align: center;
    margin-right: 4em;
}

.screenplay .stage {
    display: block;
}

.screenplay div.stage {
    margin-top: 2em;
    margin-bottom: 2em;
}

.screenplay p {
    text-indent: 0;
}

.orth {
    font-weight: bold;
}

.form {
    float: left;
    margin-right: 0.5em;
}

.entry ol {
    clear: both;
}

table {
    margin-top: 2em;
    margin-bottom: 2em;
    border-spacing: 0px;
}


th.date {
    width: 6.5em;
}

th.wc {
    width: 7em;
}

table.index {
    width: 120%;
    margin-left: -3em;
    margin-right: -3em;
    margin-top: 1.5em;
}

.index tr:nth-child(even) {
    background: rgb(230, 230, 234);
}

.index td, .index th {
    padding: 10px 5px;
}

.index td:first-child, .index th:first-child {
    padding-left: 3em;
}

.index td:last-child, .index th:last-child {
    padding-right: 3em;
}

.index th {
    text-align: left;
    font-weight: normal;
}



div.story {
    width: 120%;
    margin-left: -3em;
    margin-right: -3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

div.story div {
    padding-left: 3em;
    padding-right: 3em;
}

div.story:nth-child(even) {
    background: rgb(230, 230, 234);
}

a:link {
    text-decoration: none;
    color: black;
}

article a:link {
    background: rgb(216, 216, 216);
    background: rgba(128, 128, 133, 0.25);
}

.index a:link {
    background: none;
}

.index a:hover {
    background: rgb(115, 115, 166);
    background: rgba(72, 61, 139, 0.75);
}
    
a:visited {
    color: black;
}

a:hover {
    color: white;
    background: rgb(115, 115, 166);
    background: rgba(72, 61, 139, 0.75);
}

article a:visited {
    color: rgb(72, 61, 139);
}

article a:hover {
    color: white;
    background: rgb(115, 115, 166);
    background: rgba(72, 61, 139, 0.75);
}

a.mm:link {
    background: rgb(192, 255, 255);
    background: rgba(0, 255, 255, 0.25);
}

a.mm:hover {
    background: rgb(64, 255, 255);
    background: rgba(0, 255, 255, 0.75);
    color: black;
}

a.fd:link {
    background: rgb(192, 255, 192);
    background: rgba(0, 255, 0, 0.25);
}

a.fd:hover {
    background: rgb(64, 255, 64);
    background: rgba(0, 255, 0, 0.75);
    color: black;
}

a.md:link {
    background: rgb(255, 255, 192);
    background: rgba(255, 255, 0, 0.25);
}

a.md:hover {
    background: rgb(255, 255, 64);
    background: rgba(255, 255, 0, 0.75);
    color: black;
}

a.ff:link {
    background: rgb(255, 192, 192);
    background: rgba(255, 0, 0, 0.25);
}

a.ff:hover {
    background: rgb(255, 64, 64);
    background: rgba(255, 0, 0, 0.75);
    color: white;
}

a.mf:link {
    background: rgb(255, 192, 255);
    background: rgba(128, 0, 128, 0.25);
}

a.mf:hover {
    background: rgb(255, 64, 255);
    background: rgba(128, 0, 128, 0.75);
    color: white;
}

/* Basic Loading Bar Styles */
.loading-bar {
    width: 100%;
    height: 4px;
    background-color: #f3f3f3; /* Light background for the bar */
    border-radius: 2px;
    overflow: hidden; /* Ensures animation stays within bounds */
    margin-top: 15px;
    margin-bottom: 10px;
}

.loading-bar::before {
    content: '';
    display: block;
    height: 100%;
    width: 30%; /* Start width of the moving part */
    background-color: #4CAF50; /* Green loading color */
    animation: loading-animation 1.5s infinite ease-in-out;
}

@keyframes loading-animation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(333%); /* Moves the bar from left to right */
    }
}

/* Style for the "Searching..." text */
.results-container p {
    text-align: center;
    font-style: italic;
    color: #666;
}